* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url("penguin.jpg") center center no-repeat;
  background-size: cover;
  filter: blur(6px);
}

.game {
  padding: 50px 0;
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.head {
  width: 20%;
  margin: 10px auto;
  transition: 0.1s linear;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}

@media (max-width: 991px) {
  .head {
    width: 30%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  gap: 10px;
  font-size: 50px;
  font-weight: 600;
  padding: 20px;
  box-shadow: 0 2px 12px 10px #5a595949;
  border-radius: 6px;
}

.sq {
  width: 100px;
  height: 100px;
  font-weight: bold;
  transition: 0.1s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 2px 12px 10px #5a595985;
  font-size: 50px;
  font-weight: 600;
}

.sq:hover,
.head:hover {
  background-color: #2ecc71;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.471);
}

.shake {
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-name: shake;
  animation-timing-function: ease-in-out;
}
@keyframes shake {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    transform: scale(1.2);
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    transform: scale(1.2);
  }
}
#Rest {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#Rest:hover {
  background-color: #2ecc71;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#Rest:active {
  background-color: #1abc9c;
  color: #ffffff;
  transform: translateY(2px);
}
